@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .btn{
        @apply font-bold py-2 px-4 rounded;
    }
    .btn-green {
        @apply bg-green-700 text-white;
    }
    .btn-green:hover{
        @apply bg-green-800;
    }

    .btn-edit{
        @apply btn rounded bg-yellow-500 text-white;
    }
    
    .nav-option{
        @apply inline-block pt-4 pb-3 px-4 transition duration-300;
    }
    .nav-option:hover{
        @apply bg-gray-100;
    }

    .checkbox{
        @apply appearance-none h-4 w-4 border-gray-300 rounded-sm transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
    }
    .checkbox:checked{
        @apply bg-blue-600 border-blue-600
    }
    .checkbox:focus{
        @apply outline-none;
    }

    .input{
        @apply w-full rounded border-zinc-400 h-8;
    }

    .error{
        @apply mt-3
    }

}
/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.nav-option ~ hr {
    width: 0;
    height: 4px;
    transition: 0.3s;
}

.nav-option.selected ~ hr {
    width: 100%;
    height: 4px;
    background-color: green;
}

hr.solid{
    width: 100%;
    height: 1px;
    background-color: gray;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  min-width: min-content;
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #e5e7eb;
  min-width: min-content;
  margin: 15vh auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 0.25rem;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

